*{
  margin: auto;
  }
h2{
  color: black;
  text-align: center;
}
.btn button{
  padding: 10px;
  width: 80px;
  color: black;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
}
.btn{
  margin-left: 150px;
  margin-top: -40px;
}

